/*-----------------------------------GENERAL------------------------------------------*/
:root {
  --prin-color: #058e3f;
  --prin-color-light: #069e2d;
  --prin-color-dark: #04773b;
  --secondary-color: #f8ffe5;
}
body {
  background-color: var(--secondary-color);
}
/*-----------------------------------HEADER------------------------------------------*/
/*-----------------img Container-------------*/
.h-img-container {
  position: relative;
}
.h-img-container picture img {
  width: 100%;
}
.h-img-container h1 {
  position: absolute;
  top: 45%;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 4rem;
  font-weight: 700;
  color: var(--prin-color-light);
  text-shadow: 1px 1px 2px var(--secondary-color);
}
/*-----------------sign Container-------------*/
.h-sign-container {
  display: flex;
  justify-content: flex-end;
  margin-right: 1rem;
}
.h-sign-container #signin,
.h-sign-container #signup {
  padding: 0.5rem 1rem;
  background-color: var(--prin-color-light);
}
.h-sign-container #signin {
  border-bottom-right-radius: 15px;
}
.h-sign-container #signup {
  border-right: 1px solid var(--secondary-color);
  border-bottom-left-radius: 15px;
}
/*-----------------------------------MAIN------------------------------------------*/
.m-institute-container,
.m-levels-container,
.m-teachers-container,
.m-comments-container {
  min-height: 30vh;
  padding: 0rem 1rem;
  margin-top: 1rem;
}
/*-----------------Institute Container-------------*/
.m-institute-container h1 {
  text-align: center;
  padding: 1rem 0;
  font-size: 2rem;
  color: var(--prin-color-dark);
}
.m-institute-container p {
  line-height: 1.5rem;
}
/*-----------------levels Container-------------*/
.m-levels-container h2 {
  text-align: center;
  padding: 1rem 0;
  font-size: 2rem;
  color: var(--prin-color-dark);
}
.lvl-container {
  background-color: var(--prin-color-light);
  color: var(--secondary-color);
  margin: 0.5rem;
  border-radius: 10px;
  box-shadow: 1px 1px 3px var(--prin-color-light);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 30vh;
}
.lvl-img {
  background-size: cover;
  height: 120px;
  width: 100%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.lvl-container:first-child .lvl-img {
  background: url(../images/gogo.jpg);
  background-size: cover;
}
.lvl-container:nth-child(2) .lvl-img {
  background: url(../images/basic.jpg);
  background-size: cover;
  background-position: 0 25%;
}
.lvl-container:last-child .lvl-img {
  background: url(../images/advanced.jpg);
  background-size: cover;
  background-position: 0 60%;
}
.lvl-container article {
  display: flex;
  flex-direction: column;
}
.lvl-container article h1 {
  text-align: center;
  font-size: 1.5rem;
  margin: 0.5rem;
  font-weight: bold;
}

.lvl-container article div {
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
}

.lvl-description {
  flex: 0 0 45%;
}
.lvl-sub {
  flex: 0 0 45%;
  display: flex;
  flex-direction: column;
}

.lvl-sub-lvls {
  margin-bottom: 0.5rem;
}
.lvl-sub-lvls span {
  display: block;
}
/*-----------------------------------FOOTER------------------------------------------*/ ;
